<section class="jumbotron text-center section-main">
    <div class="container">
        <h1 class="jumbotron-heading">MacMakler Real Estate</h1>
        <p class="lead text-muted">
            This is a dummy section. This dummy project was created with Angular4, HTML/CSS + Bootstrap. A dummy Header and Footer has been included in this section
            Linting Options are included in this project. To do that use ng lint command. The house card details are shown in the below section. I have included and deleted 
            files from the fork inorder to include ANGULAR 4. I Used a CORS plugin inorder to handle that Error. I expect the same to include when testing this.The site is responsive. This is a from scratch project.  
        </p>
    </div>
</section>